<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<script src="https://cdn.auth0.com/js/auth0/9.10/auth0.min.js"></script>

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<title>Rally</title>

</head>

<body>

	<div class="navbar-fixed">
		<nav class="red">
			<div class="container">
				<div class="nav-wrapper">
					<a href="#" data-target="slide-out" class="sidenav-trigger show-on-medium-and-up"><i class="material-icons">menu</i></a>

					<a href="#" class="brand-logo">Rally</a>

					</a>
				</div>
			</div>
		</nav>
	</div>
	<ul id="slide-out" class="sidenav">
		<li>
			<div class="user-view">
				<div class="background">
					<img style="width: 100%; height: 100%;" id="background" src="">
				</div>
				><img id="photo" class="circle">
				<span id="userName" class="white-text name"></span>
				<span id="email" class="white-text email"></span>
			</div>
		</li>
		<li><a href="/create"><i class="material-icons">cloud</i>Create New Rally</a></li>

		<li>
			<div class="divider"></div>
		</li>
		<li>
	        <a href="#home">Home</a>
	    </li>
		<li><a id="button2" href="#Logout">Logout</a></li>
	</ul>


	<div id="posts"></div>
	<script src="../assets/js/app.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			M.AutoInit();
			$('.sidenav').sidenav();
			$.ajax({
				url: "https://boiling-fortress-49835.herokuapp.com/api/posts",
				method: "GET"
			}).then(function(results) {
				console.log(results);
				for (i = 0; i < results.length; i++) {
					let post = $("<div>");
					post.addClass("row");
					post.html("<div class='col s12 m7'><div style='padding-left: 15%;' class='card'><div class='card-image'><img class='responsive-img' src='" + results[i].photo + "'><span id='eName' class='card-title'>" + results[i].eventName + "</span></div><div class='card-content'><p>" +
						results[i].description + "</p><p>Date: " + results[i].date + "</p><p>Time: " + results[i].time + "</p><p>" + results[i].location + "</div><div class='card-action'><a id='join' class='btn' href='#'>Join Rally!</a><a style='padding-left: 12px;' id='directions' href='/map'>Directions</a></div></div></div>");
					$("#posts").append(post);
				};

			});



			$.ajax({
				url: "https://boiling-fortress-49835.herokuapp.com/api/users",
				method: "GET"
			}).then(function(results) {
				console.log(results);
				$("#userName").html(results.userName);
				$("#email").html(results.email);
				$("#photo").attr("src", results.photo);
				$("#background").attr("src", "../img/background.jpg");

				$("#join").on("click", function(e){
					e.preventDefault();
					$("#join").addClass("disabled")

					let thisName = $("#eName").val();
					let name = results.userName;
console.log(thisName);
					$.ajax({
						url: "https://boiling-fortress-49835.herokuapp.com/api/userposts",
						method: "POST",
						data: {
							event: thisName,
							user: name
						}
					}).then(function(response){
console.log(response);
					})
				})
			});
		});





	</script>

</body>

</html>
