<!DOCTYPE html>
<html>

<head>
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        body {
            background-image: url('/public/img/Hikers.jpg');
            /* background-position: center center; */
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-color: #999;

        }

        html {
            background-image: url("/public/img/Hikers.jpg");
        }

        #map_container {
            position: relative;
        }

        #map {
            height: 0;
            overflow: hidden;
            padding-bottom: 22.25%;
            padding-top: 300px;
            position: relative;
        }

        /* Optional: Makes the sample page fill the window. */
        html,
        body {
            height: 20%;
            margin: 0;
            padding: 0;
        }

        #description {
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
        }

        #infowindow-content .title {
            font-weight: bold;
        }

        #infowindow-content {
            display: none;
        }

        #map #infowindow-content {
            display: inline;
        }

        .pac-card {
            margin: 10px 10px 0 0;
            border-radius: 2px 0 0 2px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            outline: none;
            box-shadow: none;
            background-color: #fff;
            font-family: Roboto;
        }

        #pac-container {
            padding-bottom: 12px;
            margin-right: 12px;
        }

        .pac-controls {
            display: inline-block;
            padding: 5px 11px;
        }

        .pac-controls label {
            font-family: Roboto;
            font-size: 13px;
            font-weight: 300;
        }

        #pac-input {
            background-color: #fff;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
            margin-left: 12px;
            padding: 0 11px 0 13px;
            text-overflow: ellipsis;
            width: 400px;
        }

        #pac-input:focus {
            border-color: #4d90fe;
        }

        #title {
            color: #fff;
            background-color: red;
            font-size: 25px;
            font-weight: 500;
            padding: 6px 12px;
        }

        h4,
        h2 {
            font-family: 'Baloo Chettan', cursive;
        }
    </style>

    <!--Import Google Icon Font-->
    <!-- <link href="css/main.css" type="text/css" media="screen, projection" /> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"
        media="screen,projection" />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css'>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rally</title>
</head>


<body id="home" class="scrollspy">
    <!-- Navbar -->
    <div class="navbar-fixed">
        <nav class="red">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="#" data-target="slide-out" class="sidenav-trigger show-on-medium-and-up"><i class="material-icons">menu</i></a>

                    <a href="/" class="brand-logo">Rally</a>

                    </a>
                </div>
            </div>
        </nav>
    </div>
    <ul id="slide-out" class="sidenav">
            <li>
                <div class="user-view">
                    <div class="background">
                        <img style="width: 100%; height: 100%;" id="background" src="">
                    </div>
                    <img id="photo" class="circle">
                    <span id="userName" class="white-text name"></span>
                    <span id="email" class="white-text email"></span>
                </div>
            </li>
        <li><a href="/create"><i class="material-icons">cloud</i>Create New Rally</a></li>
            <li>
                <div class="divider"></div>
            </li>
            <li>
                <a href="/homepage.html">Home</a>
            </li>
            <li>
                    <a href="/map">Map</a>
                </li>

            <li><a id="button2" href="#Logout">Logout</a></li>
        </ul>
    <!-- Section Slider -->

    <!-- Section: Search -->

    <!-- Section Icon Boxes -->

    <!-- Section: Create Profile -->
    <section id="user Profile" class="section section-popular scrollspy">
        <div class="usercontainer">

            <div style=margin-left: 20%; class="row">
                <!-- <h1 class="center"><span class="red-text">Create</span> Rally</h1> -->
                <!-- Personal Info Card row -->
                <!-- <div class="parallax-container">
                <div class="parallax"><img src="img/Hikers.jpg"></div>
            </div> -->
                <div class="card">
                    <div class="card-content">




                        <div class="row">
                            <!-- <form class="col s12"> -->
                            <div class="row">

                                <div class="row">

                                    <div class="input-field">

                                        <div class="pac-card" id="pac-card">

                                            <div id="searchbox">

                                                <div id="title" style="padding: 0;">
                                                    <!-- <i class="material-icons prefix">location_on</i> -->
                                                    Rally Location
                                                </div>
                                                <!-- <div id="type-selector" class="pac-controls">
                                                        <input type="radio" name="type" id="changetype-all"
                                                            checked="checked">
                                                        <label for="changetype-all"></label>

                                                        <input type="radio" name="type" id="changetype-establishment">
                                                        <label for="changetype-establishment"></label>

                                                        <input type="radio" name="type" id="changetype-address">
                                                        <label for="changetype-address"></label>

                                                        <input type="radio" name="type" id="changetype-geocode">
                                                        <label for="changetype-geocode"></label>
                                                    </div>
                                                    <div id="strict-bounds-selector" class="pac-controls">
                                                        <input type="checkbox" id="use-strict-bounds" value="">
                                                        <label for="use-strict-bounds"></label>
                                                    </div> -->

                                                <div id="pac-container">
                                                    <input id="pac-input" type="text" required placeholder="Enter a location"
                                                        style="height: 10%;">
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col m8 s12" id="map">

                                            <div id="infowindow-content">
                                                <img src="" width="16" height="16" id="place-icon">
                                                <span id="place-name" class="title"></span><br>
                                                <span id="place-address"></span>
                                            </div>

                                            <!-- <input id="icon_prefix rally_location" type="text" placeholder="Add a place?" class="validate" required> -->
                                            <!-- <label for="icon_prefix rally_location">Rally Location </label>
                      </div> -->
                                            <!-- <div class="input-field col s12">
                        <i class="material-icons prefix">location_on</i>
                        <input id="icon_prefix rally_location" type="text" placeholder="Add a place?" class="validate"
                          required>
                        <label for="icon_prefix rally_location">Rally Location </label>
                      </div> -->

                                        </div>
                                        <div class="col m4 s12">
                                            <div id="cardDisplay" class="hide">


                                                    <div class="input-field col s12">
                                                        <input placeholder="Event Name" id="event_name" type="text" class="validate">

                                                        <label for="Event Details">Event Name</label>
                                                    </div>

                                                    <div class="input-field col s12">
                                                        <input placeholder="Event Description" id="event_desc" type="text" class="validate">


                                                        <label for="Event Description">Event Details</label>
                                                        </div>
                                                        <div class="input-field col s12">
                                                            <i class="material-icons prefix">date_range</i>
                                                            <label for="icon_prefix date">Rally Day </label>
                                                            <input type="text" class="datepicker" required placeholder="MM/dd/yyyy" id="date">
                                                            <!-- <input id="icon_prefix" type="text" placeholder="ex: Cycling Race" class="validate" required> -->

                                                        </div>
                                                        <div class="input-field col s12">
                                                            <i class="material-icons prefix">update</i>
                                                            <label for="icon_prefix time">Rally Time </label>
                                                            <input type="text" class="timepicker" required placeholder="Add a time?" id="time">
                                                            </div>

                                                            <div class="input-field col s12">
                                                                <input placeholder="Image" id="image" type="text" class="validate">

                                                                <label for="Image">Image URL</label>
                                                            </div>

                                                                        <div class="center-align">
                                                                            <h4>Click below to rally to this location</h4>

                                                                                <a class="red waves-effect waves-light btn-small" id="rallyHere">Rally!</a>

                                                                        </div>

                                                                </div>
                                                </div>

                                            </div>
                                            <!--                     <p class="z-depth-1">Cards</p> -->
                                        </div>
                                        <!-- <div class="input-field col s12 m6">
                        <button class="btn waves-effect waves-light red" type="submit" name="action">Create My
                          Rally</button>
                      </div>

                      <div class="input-field col s12 m6">

                        <button class="btn waves-effect waves-light red" id="cancel_button" type="submit" name="action"
                          style="float:right">Cancel My Rally</button>

                      </div> -->

                                    </div>




                                </div>

                            </div>

                        </div>
                    </div>
                    <!-- End of Sign Up Card row -->
    </section>
    <!-- Section: Follow -->
    <section class="section section-follow red darken-2 white-text center">

        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h4>Follow Rally</h4>
                    <p>Follow us on social media</p>
                    <a href="#" class="white-text">
                        <i class="fab fa-facebook fa-4x"></i>
                    </a>
                    <a href="#" class="white-text">
                        <i class="fab fa-twitter fa-4x"></i>
                    </a>
                    <a href="#" class="white-text">
                        <i class="fab fa-linkedin fa-4x"></i>
                    </a>
                    <a href="#" class="white-text">
                        <i class="fab fa-instagram fa-4x"></i>
                    </a>
                    <a href="#" class="white-text">
                        <i class="fab fa-pinterest fa-4x"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Section: Contact -->
    <section id="contact" class="section section-contact scrollspy">
        <div class="container">
            <div class="row">
                <form class="col s12 m6">
                    <div class="card-panel red white-text center">
                        <i class="material-icons">email</i>
                        <h5>Contact Us</h5>
                        <p>Email us with any questions or inquiries</p>
                    </div>
                    <ul class="collection with-header">
                        <li class="collection-header">
                            <h4>Location</h4>
                        </li>
                        <li class="collection-item">Rally Headquarters</li>
                        <li class="collection-item">777 Atlanta Rd, Suite 48</li>
                        <li class="collection-item">Atlanta, GA 30332</li>
                    </ul>
                </form>
                <div class="col s12 m6">
                    <div class="card-panel grey lighten-3">
                        <h5>Please fill out this form</h5>
                        <div class="input-field">
                            <input type="text" placeholder="Name">
                        </div>
                        <div class="input-field">
                            <input type="text" placeholder="Email">
                        </div>
                        <div class="input-field">
                            <input type="text" placeholder="Phone">
                        </div>
                        <div class="input-field">
                            <textarea class="materialize-textarea" placeholder="Enter Message"></textarea>
                        </div>
                        <input type="submit" value="Submit" class="btn red">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <script src="../assets/js/app.js" type="text/javascript"></script>
    <!--JavaScript at end of body for optimized loading-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
        <script src="https://cdn.auth0.com/js/auth0/9.10/auth0.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/additional-methods.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js'></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfV9dkqAxkWTLLGhFnFV0vWIXOD6hZ52o&libraries=places&callback=initMap"
        async defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier/1.0.3/oms.min.js"></script>

    <script>
        M.AutoInit()
        //Sidenav
        const sideNav = document.querySelector('.sidenav');
        M.Sidenav.init(sideNav, {});
        //Chips


        const textNeedCount = document.querySelectorAll('#textarea2');
        M.CharacterCounter.init(textNeedCount);
        // const elems = document.querySelectorAll('.parallax');
        // M.Parallax.init(elems, {});

        M.updateTextFields();

        $(document).ready(function () {
            $(".dropify").dropify();
        });
        $.ajax({
            url: "/api/users",
            method: "GET"
        }).then(function (results) {
            console.log(results);
            $("#userName").html(results.userName);
            $("#email").html(results.email);
            $("#photo").attr("src", results.photo);
            $("#background").attr("src", "../img/background.jpg");

        });
        function encodeImageFileAsURL() {

var filesSelected = document.getElementById("inputFileToLoad").files;
if (filesSelected.length > 0) {
  var fileToLoad = filesSelected[0];

  var fileReader = new FileReader();

  fileReader.onload = function(fileLoadedEvent) {
    var srcData = fileLoadedEvent.target.result; // <--- data: base64

    var newImage = document.createElement('img');
    newImage.src = srcData;

    document.getElementById("imgTest").innerHTML = newImage.outerHTML;
    alert("Converted Base64 version is " + document.getElementById("imgTest").innerHTML);
    console.log("Converted Base64 version is " + document.getElementById("imgTest").innerHTML);
  }
  fileReader.readAsDataURL(fileToLoad);
}
}
        // This example requires the Places library. Include the libraries=places
        // parameter when you first load the API. For example:
        // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">
        let map, infoWindow;

        function initMap() {

            var map = new google.maps.Map(document.getElementById('map'), {
                center: {
                    lat: 33.7756,
                    lng: -84.3963
                },
                zoom: 13
            });
            infoWindow = new google.maps.InfoWindow;
            google.maps.event.addDomListener(window, "resize", function () {
                var center = map.getCenter();
                google.maps.event.trigger(map, "resize");
                map.setCenter(center);
            });
            var marker = new google.maps.Marker({
                map: map
            })


            function placeMarker(location) {

                if (marker == null) {
                    marker = new google.maps.Marker({
                        position: location,
                        map: map
                    });
                } else {
                    marker.setPosition(location);
                    marker.addListener('click', function (location) {
                        if ($(".hide")[0]) {
                            $("#cardDisplay").removeClass("hide");
                        } else {
                            $("#cardDisplay").addClass("hide")
                        }
                        var latLng = marker.getPosition()
                        map.setCenter(latLng)

                        var latitude = location.latLng.lat();
                        var longitude = location.latLng.lng();
                        console.log(latitude + ', ' + longitude);
                        $("#rallyHere").on("click", function () {
                            let date = $("#date").val().trim()
                            let photo = $("#image").val().trim()
                            let eventDesc = $("#event_desc").val().trim()
                            let eventNamee = $("#event_name").val().trim()
                            let eventTimee = $("#time").val().trim()


                            $.ajax({
                                url: "https://boiling-fortress-49835.herokuapp.com/api/posts",
                                method: "POST",
                                data: {
                                    eventName: eventNamee,
                                    date: date,
        				            time: eventTimee,
                                    photo: photo,
                                    longitude: longitude,
                                    latitude: latitude,
                                    description: eventDesc,

                                }
                            })
                        })


                    })
                }
            }


            google.maps.event.addListener(map, 'click', function (event) {

                placeMarker(event.latLng);

            });
            var card = document.getElementById('pac-card');
            var input = document.getElementById('pac-input');
            var types = document.getElementById('type-selector');
            var strictBounds = document.getElementById('strict-bounds-selector');

            map.controls[google.maps.ControlPosition.TOP_RIGHT].push(card);

            var autocomplete = new google.maps.places.Autocomplete(input);

            // Bind the map's bounds (viewport) property to the autocomplete object,
            // so that the autocomplete requests use the current map bounds for the
            // bounds option in the request.
            autocomplete.bindTo('bounds', map);

            // Set the data fields to return when the user selects a place.
            autocomplete.setFields(
                ['address_components', 'geometry', 'icon', 'name']);

            var infoWindow = new google.maps.InfoWindow();


            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    }
                    infoWindow.setPosition(pos);
                    infoWindow.setContent("Let's Rally");
                    infoWindow.open(map);
                    map.setCenter(pos);
                    map.setZoom(15);
                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                handleLocationError(false, infoWindow, map.getCenter());
            }

            autocomplete.addListener('place_changed', function () {
                infoWindow.close();
                marker.setVisible(false);
                var place = autocomplete.getPlace();
                if (!place.geometry) {
                    // User entered the name of a Place that was not suggested and
                    // pressed the Enter key, or the Place Details request failed.
                    window.alert("No details available for input: '" + place.name + "'");
                    return;
                }

                // If the place has a geometry, then present it on a map.
                if (place.geometry.viewport) {
                    map.fitBounds(place.geometry.viewport);
                } else {
                    map.setCenter(place.geometry.location);
                    map.setZoom(17); // Why 17? Because it looks good.
                }
                marker.setPosition(place.geometry.location);
                marker.setVisible(true);

                var address = '';
                if (place.address_components) {
                    address = [
                        (place.address_components[0] && place.address_components[0].short_name ||
                            ''),
                        (place.address_components[1] && place.address_components[1].short_name ||
                            ''),
                        (place.address_components[2] && place.address_components[2].short_name ||
                            '')
                    ].join(' ');
                }

                infowindow.open(map, marker);
            });

            // Sets a listener on a radio button to change the filter type on Places


        }
    </script>
    <footer class="section red darken-2 white-text center">
        <p class="flow-text">Rally &copy; 2019 </p>
    </footer>



</body>

</html>
