body
{
    background: #f5f5f5;
    background-image: url(../Images/Hiking.jpg);
    background-size: cover;
}

h5
{
	font-weight: 400;
}

.container
{
	margin-top: 80px;
	width: 400px;
	height: 700px;
}
.login input{
font-size: 20px !important;
}
.register input{
font-size: 20px !important;
}
.tabs .indicator
{
	background-color: #e0f2f1;
	height: 60px;
	opacity: 0.3;
}

.form-container
{
	padding: 40px;
	padding-top: 10px;
}

.confirmation-tabs-btn
{
	position: absolute;
}